<div>
    <label>Title</label>
    <select name="title">
        <option value="Assignment 1">Assignment 1</option>
        <option value="Assignment 2">Assignment 2</option>
    </select>
</div>

<div>
    <label>Course</label>
    <select name="course">
        <% courses.forEach(course => { %> 
            <% if (course.id == assignment.course) { %> 
                <option selected label="<%= course.name %>" value="<%= course.id %>"></option>
            <% } else { %> 
                <option label="<%= course.name %>" value="<%= course.id %>"></option>
            <% } %> 
        <% }) %> 
    </select>
</div>

<div>
    <label>Document</label>
    <input type="file" name="document" class="filepond">
</div>

<div>
    <label>Description</label>
    <textarea name="description"><%= assignment.description %></textarea>
</div>

<div>
    <label>Grade</label>
    <select name="grade">
        <option value="Refer">Refer</option>
        <option value="Pass">Pass</option>
        <option value="Merit">Merit</option>
        <option value="Distinction">Distinction</option>
    </select>
</div>