<h2><%= assignment.title %></h2>
<p>Course: <%= assignment.course.name %></p>
<a href="<%= assignment.documentPath %>" download="<%= assignment.title %>">Document</a>
<p>Author: <%= assignment.author.name %></p>
<p>Description: <%= assignment.description %></p>
